<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pageHeaderV2">
  <!-- 페이지 헤더 영역 -->
  <header class="v2 header js-header">
    <section class="header-path">
      <button class="button js-header-path">
        <img class="image" src="/image/icon/icon_stroke_arrow_left.svg" alt="">
      </button>
    </section>
    <section class="header-name">
      <span class="text js-header-name"></span>
    </section>
    <section class="header-search">
      <button class="button js-header-search">
        <img class="image" src="/image/icon/icon_stroke_search.svg" alt="">
      </button>
    </section>
  </header>
</th:block>

</html>