<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>아티켓 : 전시</title>
  <link th:href="@{/favicon.ico}" type="image/ico"/>
  <link th:href="@{/style/reset.css}" rel="stylesheet">
  <link th:href="@{/style/page/page.css}" rel="stylesheet">
  <link th:href="@{/style/page/pageReviewList.css}" rel="stylesheet">
  <script th:src="@{/script/axios.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/utils.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/page.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/pageApi.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/pageReviewList.js}" charset="utf-8" defer></script>
</head>

<body>
<div class="page">
  <th:block th:replace="~{/layout/pageHeaderV2 :: pageHeaderV2}"/>
  <!-- 페이지 콘텐츠 영역 -->
  <main class="v1 content js-content">
    <!-- 리뷰 목록 영역 -->
    <section class="review-list">
      <div class="review-list-label">
        <span class="text">마이 리뷰</span>
      </div>
      <ul class="group-list js-review-list">

      </ul>
    </section>
  </main>
</div>
</body>

</html>