<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>아티켓 : 로그인</title>
  <link th:href="@{/favicon.ico}" type="image/ico"/>
  <link th:href="@{/style/reset.css}" rel="stylesheet">
  <link th:href="@{/style/page/page.css}" rel="stylesheet">
  <link th:href="@{/style/page/pageUserLogin.css}" rel="stylesheet">
  <script th:src="@{/script/axios.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/utils.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/page.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/pageApi.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/pageUserLogin.js}" charset="utf-8" defer></script>
</head>

<body>
<div class="page">
  <th:block th:replace="~{/layout/pageHeaderV2 :: pageHeaderV2}"/>
  <!-- 페이지 콘텐츠 영역 -->
  <main class="v1 content js-content">
    <!-- -->
    <section class="logo">
      <img class="image" alt="로고" src="/image/icon/icon_fill_logo.svg">
      <div class="caption">
        <p class="logotype">아티켓</p>
        <p class="logotype-extra">아티켓 멤버십</p>
      </div>
    </section>
    <!-- -->
    <section class="form">
      <div class="form-field">
        <div class="field-group user-email">
          <div class="field-group-item user-email">
            <input class="field user-email js-user-email" type="text" title="이메일" placeholder="이메일" autocomplete="false" value="user1">
          </div>
          <div class="field-group-item user-email-sign">
            <span class="text">@</span>
          </div>
          <div class="field-group-item user-email">
            <select class="field js-user-email-option" title="이메일 선택">
              <option class="option" value="">선택</option>
              <option class="option" value="naver.com">naver.com</option>
              <option class="option" value="kakao.com">kakao.com</option>
              <option class="option" value="gmail.com">gmail.com</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-field">
        <div class="field-group">
          <div class="field-group-item">
            <input class="field user-password js-user-password" type="password" title="비밀번호" placeholder="비밀번호" autocomplete="false" value="user1">
          </div>
        </div>
      </div>
    </section>
    <!-- -->
    <section class="form-action">
      <button class="button js-user-login">멤버십 로그인</button>
      <ul class="list">
        <!--
        <li class="list-item">
          <a class="link" href="/">이메일 찾기</a>
        </li>
        <li class="list-item">
          <a class="link" href="/">비밀번호 찾기</a>
        </li>
        -->
        <li class="list-item">
          <a class="link" href="/user/sign">멤버십 가입</a>
        </li>
      </ul>
    </section>
  </main>
  <th:block th:replace="~{/layout/pageModalV1 :: pageModalV1}"/>
  <th:block th:replace="~{/layout/pageNavigatorV1 :: pageNavigatorV1}"/>
</div>
</body>
</html>