<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>아티켓 : 검색</title>
  <link th:href="@{/favicon.ico}" type="image/ico"/>
  <link th:href="@{/style/reset.css}" rel="stylesheet">
  <link th:href="@{/style/page/page.css}" rel="stylesheet">
  <link th:href="@{/style/page/pageSearch.css}" rel="stylesheet">
  <script th:src="@{/script/axios.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/utils.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/page.js}" charset="utf-8" defer></script>
  <script th:src="@{/script/page/pageSearch.js}" charset="utf-8" defer></script>
</head>

<body>
<div class="page">
  <!-- 페이지 콘텐츠 영역 -->
  <main class="v1 content js-content">
    <section>
      <p>검색</p>
    </section>
  </main>
</div>
</body>

</html>